#git+https://github.com/youesky/pyrogram
# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
moviepy==1.0.3
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
python-telegram-bot
pillow
ffmpeg
